<template>
<div>
    <div v-if="showChoose" class="eat_page eat_Homepage">
        <div class="user-info">
            <img class="user_photo"  :src="resData.headImg?resData.headImg:'../../assets/img/user.png'"/> <span>我的{{resData.relation}}{{resData.starName}}快饿死了，快来帮我助力吧～</span>
        </div>
        <img class="person" v-if="resData.starImg" :src="resData.starImg"/>
        <img class="person" src="../../assets/img/lixian.png"/>
        <div class="btn_list">
            <div ><img style="margin-left:10%" src="../../assets/img/eatbtn1.png" @click="gotoEat('eat-eat')"/></div>
            <div ><img style="margin-right:10%" src="../../assets/img/eatbtn2.png" @click="gotoEat('eat-high')"/></div>
        </div>
    </div>
    <div v-else class="eat_page eat_resPage">
        <div class="weight">体重 <img :class=" eatRes.change>0?'up':'down'" src="../../assets/img/arrow.png"/><span class="weight_num">{{Math.abs(eatRes.change)}}</span><span class="font">kg</span><img class="weight_icon" src="../../assets/img/weight_icon.png"/></div>
        <img class="person res_star" v-if="resData.starImg" :src="resData.starImg"/>
        <img class="person res_star" src="../../assets/img/lixian.png"/>
        <div class="text_style">
        <div>
            <p>{{ eatRes.actions }}</p><img :src="info.headimgurl"/>
        </div>
        <div>
            <img :src="resData.starHeadImg"/><p>{{ eatRes.comment }}</p>
        </div>
        <div class="bottom_btn">我也要养</div>
        </div>
        <div class="bottom_img">
            <img src="../../assets/img/rcode.png"/>
        </div>
    </div>
</div>
   
</template>
<script>
import {getPersonInfo,toEat,getwx,userInfo} from '../../api/api'
const axios = require('axios');
import qs from "qs";
import { Indicator } from 'mint-ui';
export default {
    name:'Eat',
    components:{Indicator},
    data(){
        return {
            resData:{},
            eatRes:{},
            showChoose:true,
            id:'',
            info:{},
            wxinCode:''
        }
    },
    created(){
        let id = this.$route.params.id.substring(3);
        this.id = id;
        let local = encodeURI(
          "https://api.feidiudiu.tech/active/?from=singlemessage&isappinstalled=0" +
            window.location.hash
        );
    let dd = {
      scope: "snsapi_userinfo",
      redirectUrl: encodeURIComponent(local)
    };
    getwx(dd).then(res => {
      console.log("isFirst:", localStorage["isFirst"]);
      if (!localStorage["isFirst"]) {
        window.location.href = res.data.url;
        localStorage.setItem("isFirst", true);
        return;
      } 
      if (!localStorage["code"]) {
        let url =  window.location.href.split("?")[1].split("&")
        // let window.location.href = "https://api.feidiudiu.tech/active/?code=123456&state=#/goeat/id=67";
            let code = url[2].substring(5);
            userInfo({ code: code  }).then(res => {
                
                localStorage.setItem("info", JSON.stringify(res.data));
                this.info = res.data;
              });
            localStorage.setItem("code", code);
            return;
          } 
    });
  
        getPersonInfo({link_id:id}).then(res=>{
            this.resData=res.data
        })
    },
    mounted(){
        if(localStorage['info']){
            this.info=JSON.parse(localStorage['info'])
            console.log(this.info,'info')
        }

    },
    methods:{
        gotoEat(type){
            Indicator.open({
            text: '加载中...',
            spinnerType: 'fading-circle'
            });
            let data = {
                link_id:this.id,
                name:this.resData.name,
                avatar:this.resData.headImg,
                type:type
            }
            toEat(data).then(res=>{
                console.log(res,'res')
                this.showChoose=false
                Indicator.close();
                this.eatRes=res.data
            })
        }
    }
}
</script>
<style lang="less" scoped>
.center{
    text-align: center;
}

.eat_resPage{
    background: url('../../assets/img/bg456.png') no-repeat;
    padding-bottom: 90px;
    padding: 0 25px 90px 25px;
    .text_style{
        position: absolute;
        top: 54%;
        left: 0;
        width: 100%;
        img{
            width:40px;
            height:40px;
            border-radius:50%;
            vertical-align: -webkit-baseline-middle;
            &:first-child{
                right:0;
            }
            &:last-child{
                left:0;
            }
        }
        >div{
            padding:0 12px;
            margin-bottom: 14px;
            p{
                text-align: left;
                width: calc(100% - 100px);
                display:inline-block;
                padding:5px;
                border-radius:10px;
                vertical-align:middle;
                margin-top:0;
                font-size: 12px;
                
                &:first-child{
                    background-color:#ccc;
                    border:1px solid #F2E1D2;
                    margin-right: 10px;
                    margin-bottom:0;
                }
                &:last-child{
                    border:1px solid #F2E1D2;
                    background-color:#fff;
                    margin-left: 10px;
                    margin-bottom:0;
                    
                }
            }

            
        }    
    }
    .res_star{
        height: 31vh;
        left:32%;
    }
    .bottom_btn{
        background: url('../../assets/img/findBtn.png');
        background-size: 100% 100%;
        width:120px;
        margin:auto;
        line-height: 35px;
        text-align: center!important;
        color:#f7dcc6;
    }
    .weight{
        color:#f7dcc6;
        position: absolute;
        left: 20px;
        top: 25%;
        img{
            &:first-child{
                width: 14px;
                margin-right: 10px
            }
            
        }
        .up{
            transform:rotate(180deg);
            -ms-transform:rotate(180deg); 	/* IE 9 */
            -moz-transform:rotate(180deg); 	/* Firefox */
            -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
            -o-transform:rotate(180deg); 	/* Opera */
        }
        .weight_num{
            font-size: 28px;
            font-weight: bold;
            color: #595657;
            margin-left:-5px
        }
        .font{
            font-size: 14px;
            color: #595657;
        }
        .weight_icon{
            position: absolute;
            max-width: 50%;
            left: 33%;
            margin-top: 40%;
        }
        }
}
.eat_Homepage{
    background: url('../../assets/img/goeat.png') no-repeat;   
}
.eat_page{
    background-size: 100% 100%;
    padding: 0 25px;
    height: 100vh;
    position: relative;
}
.user-info{
    text-align: left;
    font-size: 18px;
    padding-top: 25px;
    img{
        vertical-align: middle;
        border-radius:50%;
    }
    span{
        display: inline-block;
        width:calc(100% - 60px);
        vertical-align: middle;
        color: #f7dcc6;
        font-weight: bold
    }
}
.person{
    max-width: 100%;
    position: absolute;
    left: 27%;
    height:38vh;
    top: 16%;
}
.user_photo{
    width: 50px; 
}
.bottom_img{
    background: url('../../assets/img/rlogo.png') no-repeat;
    background-size: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    line-height: 60px;
    text-align:right;
    img{
        width: 60px;
        margin:17px
    }
}
.btn_list{
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    div{
        display: inline-block;
        width: 49%;
        text-align: center;
    }
    img{
        width: 92px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
    .eat_page{
        padding: 0 25px;
        height: 100vh;
        
    }
    .person{
        left: 30%;
        top:15%
    }
    .bottom_img{
        height: 106px;
        img{
            margin:24px
        }
    }
    .eat_resPage{
        height: calc(100vh - 106px);
        // padding-bottom: 106px;
        .res_star{
            left:33%;
            top:10%;
        }
        .text_style{
            >div{
                p{
                    font-size: 14px
                }
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    
}
@media only screen and (min-height:568px) and (max-width: 320px){
    .user-info{
        font-size: 16px;
    }
    .person {
        max-width: 100%;
        position: absolute;
        left: 30%;
        height: 38vh;
        top: 16%;
    }
    .btn_list{
        
        
        img{
            width: 85px;
        }
    }
}
@media only screen and (min-height:812px) and (min-width: 375px){
    .person{
        left: 26%;
        top:17%
    }
    .eat_resPage{
        .res_star{
            height: 31vh;
            left:30%!important;
            top:14%;
        }
    }
}
</style>