<template>
<div>
    <div v-if="showChoose" class="do_page do_Homepage">
        <div class="user-info">
            <img class="user_photo"  :src="resData.headImg?resData.headImg:'../../assets/img/user.png'"/> <span>我的{{resData.relation}}{{resData.starName}}现在需要运动，快来帮我助力吧～</span>
        </div>
        <img class="person" v-if="resData.starImg" :src="resData.starImg"/>
        <img class="person" src="../../assets/img/lixian.png"/>
        <div class="btn_list">
            <div @click="gotoSport('run-run')">
                <div style="margin-left:10%" class="btn_bg">一起运动</div> 
            </div>
            <div  @click="gotoSport('run-eat')">
                <div style="margin-right:10%" class="btn_bg">吃饱再说</div>
            </div>
        </div>
    </div>
    <div v-else class="do_page do_resPage">
        <span class="weight">体重<img :class=" eatRes.change>0?'up':'down'" src="../../assets/img/arrow.png"/><span class="weight_num">{{eatRes.change?Math.abs(eatRes.change):0}}</span><span class="font">kg</span><img class="weight_icon" src="../../assets/img/weight_icon.png"/></span>
        <img class="person res_star" v-if="resData.starImg" :src="resData.starImg"/>
        <img class="person res_star" src="../../assets/img/lixian.png"/>
        <div class="text_style">
        <div v-if="eatRes.actions">
            <p>{{ eatRes.actions }}</p><img :src="info.headimgurl"/>
        </div>
        <div v-if="eatRes.comment">
            <img :src="resData.starHeadImg"/><p>{{ eatRes.comment }}</p>
        </div>
         <div class="bottom_btn">我也要养</div>   
        </div>
        <div class="bottom_img">
            <img src="../../assets/img/rcode.png"/>
        </div>
    </div>
</div>
   
</template>
<script>
import {getPersonInfo,doSports,getwx,userInfo} from '../../api/api'
import qs from "qs";
import { Indicator } from 'mint-ui';
export default {
    name:'Eat',
    components:{Indicator},
    data(){
        return {
            resData:{},
            eatRes:{},
            showChoose:true,
            id:'',
            info:{},
            wxinCode:''
        }
    },
    created(){
        let id = this.$route.params.id.substring(3)
        this.id=id
        // if(!localStorage['userinfo']){
        //     window.location.href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxaac026b49a255e8f&redirect_uri=https://api.feidiudiu.tech/api/wxCode&response_type=code&scope=snsapi_userinfo&state='+id+'linklinklink#wechat_redirect'
        // }
        let local = encodeURI(
          "https://api.feidiudiu.tech/active/?from=singlemessage&isappinstalled=0" +
            window.location.hash
        );
        let dd= {scope:'snsapi_userinfo',redirectUrl:encodeURIComponent(local)}
           getwx(dd).then(res => {
          console.log("isFirst:", localStorage["isFirst"]);
          if (!localStorage["isFirst"]) {
            window.location.href = res.data.url;
            localStorage.setItem("isFirst", true);
            return;
          } 
      if (!localStorage["code"]) {
        let url =  window.location.href.split("?")[1].split("&")
        // let window.location.href = "https://api.feidiudiu.tech/active/?code=123456&state=#/goeat/id=67";
            let code = url[2].substring(5);
            userInfo({ code: code }).then(res => {
                localStorage.setItem("info", JSON.stringify(res.data));
                this.info = res.data;
              });
            localStorage.setItem("code", code);
            return;
          }  
    });
            
       
        getPersonInfo({link_id:id}).then(res=>{
            this.resData=res.data
        })
    },
    mounted(){
        if(localStorage['info']){
            this.info=JSON.parse(localStorage['info'])
            console.log(this.info,'info')
        }
    },
    methods:{
        gotoSport(type){
            Indicator.open({
            text: '加载中...',
            spinnerType: 'fading-circle'
            });
            let data = {
                link_id:this.id,
                name:this.resData.name,
                avatar:this.resData.headImg,
                type:type
            }
            doSports(data).then(res=>{
                this.showChoose=false
                Indicator.close();
                this.eatRes=res.data
            })
        }
        }
}
</script>
<style lang="less" scoped>
.center{
    text-align: center;
}

.do_resPage{
    background: url('../../assets/img/bg456.png') no-repeat;
    .text_style{
        position: absolute;
        top: 54%;
        left: 0;
        width: 100%;
        img{
            width:40px;
            height:40px;
            border-radius:50%;
            vertical-align: -webkit-baseline-middle;
            &:first-child{
                right:0;
            }
            &:last-child{
                left:0;
            }
        }
        >div{
            text-align:left;
            padding:0 12px;
            p{
                width: calc(100% - 100px);
                display:inline-block;
                padding:5px;
                border-radius:10px;
                vertical-align:middle;
                margin-top:0;
                font-size: 12px;
                &:first-child{
                    background-color:#ccc;
                    border:1px solid #F2E1D2;
                    margin-right:20px;
                }
                &:last-child{
                    border:1px solid #F2E1D2;
                    background-color:#fff;
                    margin-bottom:15px;
                    margin-left:20px;
                    
                }
            }

            
        }    
    }
    .res_star{
        height: 32vh;
        left:31%;
        top: 18%;
    }
    .bottom_btn{
        background: url('../../assets/img/findBtn.png');
        background-size: 100% 100%;
        width:120px;
        margin:auto;
        line-height: 40px;
        text-align: center!important;
        color:#f7dcc6;
        font-size:16px
    }
    .weight{
        color:#f7dcc6;
        position: absolute;
        left: 10%;
        top: 25%;
        img{
            &:first-child{
                width: 14px;
                margin:0 5px
            }
        }
        .up{
            transform:rotate(180deg);
            -ms-transform:rotate(180deg); 	/* IE 9 */
            -moz-transform:rotate(180deg); 	/* Firefox */
            -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
            -o-transform:rotate(180deg); 	/* Opera */
        }
        .weight_num{
            font-size: 24px;
            font-weight: bold;
            color: #595657;
        }
        .font{
            font-size: 14px;
            color: #595657
        }
        .weight_icon{
            position: absolute;
            max-width: 50%;
            left: 40%;
            margin-top: 40%;
        }
        }
}
.do_Homepage{
    background: url('../../assets/img/goeat.png') no-repeat;   
}
.do_page{
    background-size: 100% 100%;
    padding: 0 25px;
    height: 100vh;
    position: relative;
}
.user-info{
    text-align: left;
    font-size: 16px;
    padding-top: 25px;
    img{
        vertical-align: middle;
        border-radius:50%;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        color: #f7dcc6;
        font-weight: bold;
        width:calc(100% - 60px);
    }
}
.person{
    max-width: 100%;
    position: absolute;
    left: 27%;
    height:37vh;
    top: 16%;
}
.user_photo{
    width: 50px; 
}
.btn_list{
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    font-size: 16px;
    >div{
        width:49%;
        display:inline-block;
    }
    .btn_bg{
        background: url('../../assets/img/findBtn.png') no-repeat;
        margin-bottom: 10px;
        color:#f7dcc6;
        background-size:100% 100%;
        line-height:40px;
        width:115px;
        display:inline-block
    }
}
.bottom_img{
    background: url('../../assets/img/rlogo.png') no-repeat;
    background-size: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    line-height: 60px;
    text-align:right;
    img{
        width: 60px;
        margin:17px
    }
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
    .user-info{
        font-size: 18px;
    }
    .person{
        left: 30%;
        top:16%
    }
    .btn_list,.bottom_btn{
        font-size: 18px
    }
    .do_resPage{
        // padding-bottom: 106px;
        height: calc(100vh - 106px);
        .bottom_img{
            height: 106px;
            img{
                margin: 24px;
            }
        }
        .res_star{
            height: 32vh;
            left:33%;
            top:9%
        }
        .text_style{
            >div{
                p{
                    font-size: 14px
                }
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    
}
@media only screen and (min-height:568px) and (max-width: 320px){
    .user-info{
        font-size: 14px;
    }
    .person {
        max-width: 100%;
        position: absolute;
        left: 30%;
        height: 38vh;
        top: 15%;
    }
    .btn_list{
        .btn_bg{
            font-size: 14px;
            line-height: 38px;
        }
        img{
            width: 85px;
        }
    }
}
@media only screen and (min-height:812px) and (min-width: 375px){
    .person{
        left: 26%;
        top:15%
    }
    .do_page{
        height: 93vh;
    }
    .do_resPage{
        .res_star{
            height: 31vh;
            left:30%!important;
        }
    }
}
@media only screen and (min-height:896px) and (min-width: 414px){
   
    .do_resPage{
        .res_star{
            height: 31vh;
            left:35%!important;
        }
    }
}
</style>