<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '200px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    title:{
      type:Array,
      default:[],
    },
    data:{
      type:Array,
      default:[]
    },
    chartcolor:{
      type: String,
      default: '#bbe193'
    }
  },
  data() {
    return {
      chart: null,
      linecolor:this.chartcolor   //黄fef476    绿bbe193
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val)
      }
    }
  },
  mounted() {
    console.log(this.data,'data')
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.setOptions()
    },
    setOptions() {
      this.chart.setOption({
        
        xAxis: {
          data: this.title,
          boundaryGap: false,
          splitLine:{
      　　　　show:false
      　　},
            axisLine: {
                onZero: false,
                lineStyle: {
                    color: '#ccc'
                },
            },
          axisTick: {
            show: false
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true,
          backgroundColor:'#fff',
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          padding: [5, 10]
        },
        yAxis: {
           axisLine: {show: false,lineStyle: {
                    color: '#999'
                }},
          // boundaryGap: 30,
          max: this.linecolor=='#fef476'?60:100,
          splitNumber: 2,
          min:0,
          axisLabel:{formatter:this.linecolor=='#fef476'?'{value}min':'{value}kg'},
          axisTick: {show: false},
          splitArea:{
            areaStyle:{color:'#fff'}
          }
          
          
        },
        series: [
        {
          name: 'actual',
          smooth: true,
          type: 'line',
          label: {
                normal: {
                    show: true,
                    position: 'top'
                }
            },
          itemStyle: {
            normal: {
              color: this.linecolor,
              
              lineStyle: {
                color: this.linecolor,
                width: 2
              }
            
            }
          },
          data: this.data,
          animationDuration: 2800,
          animationEasing: 'quadraticOut'
        }]
      })
    }
  }
}
</script>
