<template>
  <div id="myCanvas" :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
// require('echarts/theme/vintage') // echarts theme

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '200px'
    },
    data:{
      type:Array,
      default:[]
    }
  },
  data() {
    return {
      chart: null
    }
  },
  
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      console.log(this.data)
      this.chart = echarts.init(this.$el, 'macarons')

      this.chart.setOption({
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          show: false,
        },
        series: [
          {
            name: '饮食情况',
            type: 'pie',
            radius: [15, 60],
            center: ['50%', '38%'],
            labelLine:{  
                normal:{  
                    length:4  
                }  
            },
            label:{
              normal:{
                formatter: '{b}:{d}%',
              }
            },
            data: this.data,
            animationEasing: 'cubicInOut',
            animationDuration: 2600
          }
        ]
      })
    }
  }
}
</script>
