<template>
<div>
    <div v-if="showChoose" class="find_page find_HomePage">
        <div class="user-info">
            <img class="user_photo"  :src="resData.headImg?resData.headImg:'../../assets/img/user.png'"/> <span>{{resData.callMe}}的{{resData.relation}}{{resData.callHe}}丢了<br/>快来帮帮忙吧～</span>
        </div>
        <img class="person" :src="resData.starImg?resData.starImg:'../../assets/img/lixian.png'"/>
        <div class="btn_list">
            <div  v-for="(item,index) in place" @click="find(item)" :key="index">{{item}}</div>
        </div>
    </div>
    <div v-else class="find_page find_ResPage">
        <img class="person" :src="resData.starImg?resData.starImg:'../../assets/img/lixian.png'"/>
        <div v-if="isFound==''" class="find_res">
            <p>{{placeType}}</p>
            <div v-if="findRes==0||findRes==404">
                <p>里{{findRes==0?'找到了':'没找到'}}{{resData.callMe}}的{{resData.relation}}{{resData.callHe}}</p>
            </div>
            <p v-else>{{findRes==118?'好友已经帮忙找过了':'明星已经回家了'}}</p>
        </div>
        <div v-else class="find_res">
            <p>{{isFound}}</p>
            <p >{{'好友已经帮忙找过了'}}</p>
        </div>
        <div class="bottom_img">
            <img src="../../assets/img/rcode.png"/>
        </div>
    </div>
</div>
</template>
<script>
import {getPersonInfo,findFriend,placeList,getwx,userInfo} from '../../api/api'
import qs from "qs";
import { MessageBox } from 'mint-ui';
export default {
    name:'FindFriend',
    components:{MessageBox},
    data(){
        return {
            resData:{},
            showChoose:true,
            place:[],
            placeType:'',
            findRes:'',
            code:'',
            isFound:'',
            wxinCode:'',
            info:{}
        }
    },
    created(){
        let id = this.$route.params.id.substring(3)
        this.id=id
        let info={}
        let local = encodeURI(
          "https://api.feidiudiu.tech/active/?from=singlemessage&isappinstalled=0" +
            window.location.hash
        );
        let dd= {scope:'snsapi_userinfo',redirectUrl:encodeURIComponent(local)}
           getwx(dd).then(res => {
          console.log("isFirst:", localStorage["isFirst"]);
          if (!localStorage["isFirst"]) {
            window.location.href = res.data.url;
            localStorage.setItem("isFirst", true);
            return;
          } 
          if (!localStorage["code"]) {
            let url =  window.location.href.split("?")[1].split("&")
            // let window.location.href = "https://api.feidiudiu.tech/active/?code=123456&state=#/goeat/id=67";
                let code = url[2].substring(5);
                userInfo({ code: code }).then(res => {
                    localStorage.setItem("info", JSON.stringify(res.data));
                    this.info = res.data;
                    getPersonInfo({link_id:this.id,name:this.info.nickname,avatar:this.info.headimgurl}).then(res=>{
                        this.resData=res.data
                        this.showChoose=res.data.place==''?true:false
                        this.isFound=res.data.place
                    })
                  });
                localStorage.setItem("code", code);
                return;
              }
        })
        if(localStorage['info']){
                this.info=JSON.parse(localStorage['info'])
                getPersonInfo({link_id:this.id,name:info.nickname,avatar:info.headimgurl}).then(res=>{
                this.resData=res.data
                this.showChoose=res.data.place==''?true:false
                this.isFound=res.data.place
            })
        }

    },
    mounted(){
        console.log(window.location.href)
        
        
        placeList({link_id:this.id}).then(res=>{
            
            this.place=res.data
        })
    },

    methods:{
        find(type){
            this.placeType=type
            let data = {
                link_id:this.id,
                name:this.resData.name,
                avatar:this.resData.headImg,
                place:type
            }
            findFriend(data).then(r=>{
                console.log(r,'ressss')
                this.showChoose=false
                this.findRes=r.code
                
            })
        },
        getKeyValue(url) {
    //只获取有效的  和非空的
    var pattern = /(\w+)=(\w+)/ig;
    var parames = {};
    url.replace(pattern, function(a, b, c){
        parames[b] = c;
    });
    return parames;
}
}
}
</script>
<style lang="less" scoped>
.center{
    text-align: center;
}
.find_HomePage{
    background: url('../../assets/img/eatBg.png') no-repeat;
}
.find_ResPage{
    background: url('../../assets/img/bg123.png') no-repeat;
    .find_res{
        position: absolute;
        top: 58%;
        width: 100%;
        left: 0;
        margin-top:10px;
        >p{
            margin: 0;
            font-weight: bold;
            &:first-child{
                color: #de7f86;
                font-size: 2.2rem;
            }
            &:last-child{
                font-size: 1.6rem
            }
        }
    }
}
.find_page{
    padding: 0 25px;
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}
.user-info{
    text-align: left;
    padding-top: 25px;
    img{
        vertical-align: middle;
        border-radius:50%;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        color: #f7dcc6;
        font-weight: bold
    }
}
.person{
    max-width: 100%;
    position: absolute;
    left: 27%;
    height:38vh;
    top: 16%;
}
.user_photo{
    width: 50px; 
}
.btn_list{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -87.5px;
    font-size: 1.6rem;
    >div{
        background: url('../../assets/img/findBtn.png') no-repeat;
        margin-bottom: 10px;
        background-size:100% 100%;
        line-height:35px;
        width:200px;
        color: #f7dcc6;
    }
}
.bottom_img{
    background: url('../../assets/img/rlogo.png') no-repeat;
    background-size: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    line-height: 60px;
    text-align:right;
    img{
        width: 60px;
        margin:24px
    }
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
    .user-info{
        font-size: 1.8rem;
    }
    .btn_list{
        font-size: 1.8rem;
    }
    .person{
        left: 30%;
    }
    .bottom_img{
        height: 106px;
    }
    .find_resPage{
        .find_res{
            margin-top:20px;
            >p{
                font-size: 1.8rem;
                &:first-child{
                    font-size: 2.4rem
                }
            }
        }
        .res_star{
            height: 31vh;
            left:34%;
        }
    }
    
}
@media only screen and (min-height:812px) and (min-width: 375px){
    .person{
        left: 25%;
        top:16%
    }
    .do_page{
        height: 88vh;
    }
    .do_resPage{
        .res_star{
            height: 31vh;
            left:30%!important;
        }
    }
}
</style>