<template>
  <div class="down_page" >
    <div class="load_page">
      <img class="logo_style" src='../assets/img/logo.png'/>
      <div class="center_text">
          <img src='../assets/img/text.png'/>
          <p class="img_text">各类明星角色随你选，陪你塑身陪你瘦</p>
      </div>
      <img class="big_img" src="../assets/img/loadimg.png"/>
      <!-- <div class="load_btn">
          <img src="./img/button.png"/>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'DownLoad',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
    html,body{
        font-family: '黑体';
        height: 100%;
        background-size: 100% 100%;
        margin: 0;
        overflow: hidden;
    }
    body{
        overflow-y: auto
    }
.load_page{
    position: relative;
    padding:14px;
    height:calc(100vh - 28px);
    
}
.logo_style{
    width:112px;
    height: 39.5px;
}
.load_page >img{
    display: block
}
.center_text{
    margin-top: 33px;
}
.center_text{
    text-align: center;
}
.center_text img{
    width: 268.5px;
    height: 70px;
}
.img_text{
    color:#999999;
    margin-bottom: 16px;
}
.big_img{
    position: absolute;
    width:360px;
    height: 338px;
    left: 50%;
    margin-left: -180px;
    bottom: 0
}
.load_btn{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
}
.bottom_text{
    color: #999999;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.bottom_text p{
    margin-bottom: 0;
    line-height: 25px;
}
</style>
