<template>
    <div >
        <div v-if="!noData" class="report_box copy_box" style="height:auto" ref="faultTree">
            <div class="report_title">
                <p class="title_img">
                    <span>
                    <img class="left" src='../assets/img/left.png' @click="prev"/>
                    <span class="date"><img  src='../assets/img/icon_week_date.png'/><span>{{startDate.substring(5)}} - {{endDate.substring(5)}}</span></span>
                    
                    <img  class="right" src='../assets/img/right.png' @click="next"/>
                    </span>
                </p>
            </div>
            <div class="report_page copy_page"  >
                <div class="report_content">
                    <p class="user_info"><img :src="data&&data.headImg"/><span>{{data&&data.callMe||'暂无用户'}}</span></p>
                    <p class="report_desc">这一周，我和{{data.callHe}}说了<span>{{data&&data.data&&data.data.emoji['爱你']||0}}</span>次晚安<br/>他发来了<span>{{data&&data.data&&data.data.fromStar||0}}</span>次问候<br/>我和他之间有<span>{{data&&data.data&&data.data.talkTimes||0}}</span>次心动对话</p>
                    <div class="star_img">
                        <img :src="data&&data.starImg||'../assets/img/star.png'"/>
                    </div>
                    <!-- <img  src='../assets/img/date-icon.png' class="date_icon" @click="openDate"/> -->
                    <!-- <div @click="toImage">截图</div> -->
                    <!-- <div @click="clickGeneratePicture">截图</div> -->
                </div>
            </div>
            <div class="report_bottom copy_bottom">
                <img src="../assets/img/rcode.png"/>
            </div>
        </div>
         <div v-if="noData" class="onData"><img src="../assets/img/bg_no_date.png"/><div>暂无数据</div></div>
        <div v-else class="report_box">
            <div >
                <div class="report_title">
                <p class="title_img">
                    <span>
                    <img class="left" src='../assets/img/left.png' @click="prev"/>
                    <span class="date"><img  src='../assets/img/icon_week_date.png'/><span>{{startDate.substring(5)}} - {{endDate.substring(5)}}</span></span>
                    
                    <img v-if="showRight" class="right" src='../assets/img/right.png' @click="next"/>
                    </span>
                </p>
            </div>
            <div class="report_page">
                <div class="report_content">
                    <p class="user_info">
                        <img :src="data&&data.headImg"/>
                        <span>{{data&&data.callMe||'暂无用户'}}</span></p>
                    <p class="report_desc">这一周，我和{{data.callHe}}说了<span>{{data&&data.data&&data.data.emoji['爱你']||0}}</span>次晚安<br/>他发来了<span>{{data&&data.data&&data.data.fromStar||0}}</span>次问候<br/>我和他之间有<span>{{data&&data.data&&data.data.talkTimes||0}}</span>次心动对话</p>
                    <div class="star_img">
                        <img v-if="data&&data.starImg" :src="data&&data.starImg"/>
                        <img v-else src='../assets/img/star.png'/>
                    </div>
                    <!-- <img  src='../assets/img/date-icon.png' class="date_icon" @click="openDate"/> -->
                    <div class="report_chart" id="charts" ref="faultLogo">
                    <h4>饮食情况<span></span></h4>
                    <span></span>
                    <p v-if="mealData.length!=0">你本周一共吃了<span v-for="(item,index) in mealData" :key="index"><span class="num">{{item.value}}</span>次{{item.name}},</span></p>
                    <pie-chart v-if="showCharts==true&&data.data.meal!=0" :data="foodData"/>
                    <!-- <bar-chart v-if="showCharts==true&&data.data.level!=0" :leveltitle="levelTitle" :leveldata="levelData"/> -->
                    <h4>运动情况 <span></span></h4>
                    <p>你本周一共做了<span>{{data.sportTotal||0}}</span>分钟运动,比上周{{data.sportChange>0?'增加':'减少'}}了<span>{{Math.abs(data.sportChange)||0}}</span>分钟</p>
                    <line-chart :chartcolor="'#fef476'"  v-if="showCharts==true&&data.data.sport!=0" :title="sportTitle" :data="sportData"/>
                    <h4>体重情况 <span></span></h4>
                    <p>你本周体重{{data.weightChange>0?'上升':'下降'}}<span>{{Math.abs(data.weightChange)||0}}</span>公斤</p>
                    <line-chart :chartcolor="'#5cc83b'" v-if="showCharts==true&&data.data.weight!=0" :title="weightTitle" :data="weightData"/>
                </div>
                </div>
            </div>
            </div>
            
            <div class="report_bottom">
                <img src="../assets/img/rcode.png"/>
            </div>
            <!-- <vue-hash-calendar model="dialog"
                :scroll-change-date="true" :default-datetime="defaultDatetime" :show-today-button="false" :is-show-week-view="false" @click="changedate" format="YY-MM-DD" weekStart="monday" pickerType="date" @confirm="isopen=false" :visible.sync="isopen" :disabled-date="disabledDate"></vue-hash-calendar> -->
        </div>
    </div>
</template>
<script>
import {weekly} from '../api/api'
import LineChart from './charts/LineChart'
import PieChart from './charts/PieChart'
import BarChart from './charts/BarChart'
import moment from 'moment'; 
import html2canvas from 'html2canvas';
import { Indicator } from 'mint-ui';
export default {
    name: 'Report',
    components: { LineChart, PieChart,BarChart ,Indicator},
    data(){
        return{
            data:{},
            startDate:moment().day(-6).format('YYYY-MM-DD'),
            endDate:moment().day(0).format('YYYY-MM-DD'),
            isopen:false,
            params:{},
            mealTitle:[],
            mealData:[],
            sportTitle:[],
            sportData:[],
            foodTitle:[],
            foodData:[],
            levelTitle:[],
            levelData:[],
            weightTitle:[],
            weightData:[],
            showCharts:false,
            dataURL:'',
            info:'',
            defaultDatetime:new Date(),
            showRight:false,
            noData:false
        }
    },
    beforeCreate(){
        // {token:'YHfz7imytazvnUatioxv8f8ev7qUGrk02bhU5L2Xu0ortuQW4h6kjY6PHi0M',userId:4,date:moment().day(1).format('YYYY-MM-DD')}
        
        
    },
    created(){
        console.log(moment().weekday(1).format('YYYY-MM-DD'));
        let url = window.location.href.split("?")[1].split("&")
        let date = moment().day(-6).format('YYYY-MM-DD')
        console.log(date,'date')
        this.params= {token:url[0].substring(6),userId:url[1].substring(7),date:date}
        this.loadData('d')
        // let _this = this
        // console.log(this.$bridge,'this.$bridge')
        // this.$bridge.callhandler('onGetUserInfo', '获取用户信息成功', (data) => {
        //                _this.params = {token:data.token,userId:data.userId,date:_this.params.date}
        //                this.loadData()
        //     // 处理返回数据
        // })
        // this.loadData()
        console.log(moment().get('weekday'),'ddd')
          
    },
    mounted(){
        let _this = this
        this.$bridge.registerhandler('getShareImage', (data, responseCallback) => {
        //     alert('JS Echo called with:', data)
            responseCallback(_this.dataURL)
        })
    },
    methods:{
        openDate(){
            this.isopen=true
        },
        loadData(param){
            Indicator.open({
                text: '加载中...',
                spinnerType: 'fading-circle'
            });
            weekly(this.params).then(res=>{
                console.log(res,'resss')
                Indicator.close();
                console.log(moment(res.registerDate).valueOf(),'111')
                console.log(moment(res.startDate).valueOf(),'111')
                if(moment(res.registerDate).valueOf() >moment(res.startDate).valueOf()){
                    console.log(111)
                    this.noData=true
                    return 
                }
                this.noData=false
                this.showCharts=true
                this.data=res
                let mealTitle = []
                let bb = []
                this.mealData=Object.keys(res.data.meal).map((el) => {
                    return {name:el, value:res.data.meal[el]}
                });
                Object.keys(res.data.sport).map((el) => {
                    this.sportTitle.push(el.substring(5,11).replace(/-/, "."))
                    this.sportData.push(res.data.sport[el])

                });
                Object.keys(res.data.weight).map((el) => {
                    this.weightTitle.push(el.substring(5,11).replace(/-/, "."))
                    this.weightData.push(res.data.weight[el])
                });
                this.foodData=Object.keys(res.data.food).map((el) => {
                    return {value:res.data.food[el],name:el}

                });
                
                Object.keys(res.data.level).map((el) => {
                    //2019-12-24 22:14:39
                    this.levelTitle.push(el)
                    this.levelData.push(res.data.level[el])

                });
                if(param){
                    setTimeout(()=>{
                        this.toImage()
                    },2000)
                    
                }
            })

        },
        prev(){
            let start = moment(this.startDate).day(-6).format('YYYY-MM-DD')
            let end= moment(this.endDate).day(-6).format('YYYY-MM-DD')
            this.startDate=start
            this.endDate=end
            this.params.date=start
            this.showRight=true
            this.loadData()
        },
        next(){
            let start = moment(this.endDate).day(+1).format('YYYY-MM-DD')
            let end= moment(this.endDate).day(+7).format('YYYY-MM-DD')
            let day=moment().weekday(1).format('YYYY-MM-DD')
            this.startDate=start
            this.endDate=end
            this.params.date=start
            if(end==moment(day).subtract(1, 'days').format('YYYY-MM-DD')){
                // 结束时间和当前这周的周一的前一天相等
                this.showRight=false
            }
            this.loadData()
        },
        toImage() {
            let shareContent = this.$refs.faultTree
            console.log('加载中',shareContent.clientHeight)
            let shareHeight = shareContent.scrollHeight
            let shareWidth = shareContent.clientWidth
            console.log(shareHeight,'shareHeight')
            // console.log(this.$refs.faultLogo.offsetTop)
            var scale = 2; 
            html2canvas(this.$refs.faultTree,{
                backgroundColor: null,
                useCORS: true,
                allowTaint: true,
                width:shareWidth,
                height:shareHeight,
                scale:scale
                }).then((canvas) => {
                    // canvas.style.height = shareHeight+"px";
                    // console.log(canvas,'canvas')
                    // console.log(canvas.toDataURL(),'this.dataURL')
                    // console.log(canvas.toDataURL(),'this.dataURL')
                    this.dataURL = canvas.toDataURL().replace("data:image/png;base64,","");  
                    // console.log(this.dataURL,'this.dataURL')
                
                    
            });
            
        },
        dataURLtoFile: function(dataurl, filename) { 
	    var arr = dataurl.split(','),
	        mime = arr[0].match(/:(.*?);/)[1],
	        bstr = atob(arr[1]),
	        n = bstr.length,
	        u8arr = new Uint8Array(n);
	    while (n--) {
	        u8arr[n] = bstr.charCodeAt(n);
	    }
	    return new File([u8arr], filename, { type: mime });
    }
    }
}
</script>
<style lang="less" >
body{
    overflow: hidden;
}
.onData{
    position: absolute;
    top:50%;
    margin-top:-237px;
    font-size: 16px;
    height: 474px;
    img{
        text-align: center;
        display: block;
        max-width: 100%;
        }
        div{
            color: #b2b2b2;
            font-size: 18px;
            margin-top: 18px;
        }
     }
.report_box{
    overflow-y: auto;
    height: 100vh;
     
}
.user_info{
    text-align: left;
    >img{
        width: 50px; 
        height: 50px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

}
.title{
    height: 62px;
    line-height: 62px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    
}
#logo{
    left: 0;
    position: absolute;
    z-index: 11;
}
.report_title{
    padding: 20px 20px 10px;
}
.report_box{
    background: url('../assets/img/report_bg.png')no-repeat;
    background-size: 100% 100%;
    position: relative;
}.calendar_title_date_year{
    visibility: hidden;
}
.calendar_first_today,.calendar_confirm{
    color:#d37b82!important
}

.calendar_day_checked{  
    background-color: #d37b82!important
}
.calendar_inline{
    position: fixed!important;
    width: 100vw!important;
    height: 100vh!important;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6)!important;
    z-index: 999!important;
}
.title_img{
    background: url('../assets/img/title.png')no-repeat;
    background-size: 100%;
    height: 95px;
    line-height: 95px;
    margin:0;
    font-size: 16px;
    text-align: right;
    >img{
        width: 7px;
        vertical-align: middle;
    }
    .date{
        padding: 8px 6px;
        font-size: 18px;
        background-color: #CD737B;
        line-height: 16px;
        display: inline-block;
        border-radius: 7px;
        >span{
            vertical-align: text-bottom;
            font-weight: bold;
        }
        >img{
            width: 17px;
            vertical-align: sub;
            margin-right: 6px;
        }
    }
    >span{
        height: 36px;
        line-height: 36px;
        float:right;
        color:#f9e6ce;
        padding: 23px;
    }
}
.report_page{
    padding: 0px 24px 100px 24px;
    .report_content{
        padding: 20px 14px;
        background-color: #fff;
        border-radius: 12px;
        .date_icon{
            max-width: 15%;
            position: fixed;
            right: 0;
            top:40%;
        }
        >p{
            margin:0;
        }
        .star_img{
            text-align: center;
            img{
                width:200px
            }
        }
        .report_desc{
            line-height: 35px;
            span{
                color: #d37b82;
                font-size: 26px;
                margin: 0 5px;
                font-weight: bold;
            }
        }
        .report_chart{
            h4{
                text-align: left;
                position: relative;
                span{
                    display: inline-block;
                    width: 41px;
                    height: 16px;
                    position: absolute;
                    background-color: yellow;
                    opacity: 0.5;
                    border-radius: 8px;
                    left: 7px;
                    bottom: -6px;
                }
            }
            >p{
                font-size: 14px;
                text-align: left;
                span.num{
                    color: #d37b82;
                }
            }
        }
        
    }
}
.report_bottom{
    background: url('../assets/img/wlogo.png') no-repeat;
    position: fixed;
    background-size: 100%;
    height: 75px;
    width: 100%;
    bottom:0;
    text-align: right;
    img{
        width: 50px;
        margin: 8px;
    }
}
.copy_page{
    padding: 0 24px 24px 24px
}
.copy_bottom{
    position: static
}
.copy_box{
    // display: none
    position: absolute;
    width: 100%;
}
@media only screen and (min-height: 568px) and (max-height: 746px) {

    
}
@media only screen and (min-width: 320px) {

    .report_bottom{
        height: 76px;
        img{
            margin:13px;
        }
        
    }
    .title_img{
        height: 92px;
    }
    .title_img > span{
            padding-right: 18px;
            font-size: 14px;
            img{
                vertical-align: middle;
                width: 7px;
            }
        }
}
</style>