<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body{
  margin: 0;
  font-size:1.4rem;/*1.4 × 10px = 14px */
}
html{
  font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
</style>